html {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding-right: 0 !important;
}